.wrapper {
  font-family: Bahnschrift, sans-serif;
  background-color: #f9fff7;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 50px;
  height: 80vh;
  border-top-color: #d3e8d4;
}

.wrapper h3 {
  font-size: 2rem;
  padding-top: 20px;
  border-top-color: #2e7d32;
}

.wrapper p {
  text-align: center;
}
