/* LOCAL GLOBAL HEHEHE */
.wrapper {
  font-family: Bahnschrift, sans-serif;
  background-color: #f9fff7;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 10px;
  padding-right: 10px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #d3e8d4;
}

.wrapper h3 {
  font-size: 2rem;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 20px;
  border-top-color: #2e7d32;
}

.welcome {
  font-size: 2.5rem;
}

.sectionTitle {
  text-align: center;
  background-color: #dbffd5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

dialog {
  padding: 0;
  border-radius: 10px;
  border-style: solid;
  border-color: #0f5113;
  transition: background-color 500ms ease-in-out;
}

dialog[open]::backdrop {
  animation: fade-in 400ms forwards;
}

@keyframes fade-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.dialogContainer {
  background-color: #f2ffd6;
  padding: 10px;
  width: 70vw;
  height: 15vh;
}

.dialogOptionsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.dialogBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  flex-grow: 1;
  border-radius: 5px;
  border-width: 1px;
}

.confirmDialogBtn {
  background-color: #93d0ff;
  border-color: #8aaaff;
}

.confirmDialogBtn:hover {
  background-color: #54b6ff;
}

.cancelDialogBtn {
  background-color: #ffffff;
  border-color: #c8c8c8;
}

.cancelDialogBtn:hover {
  background-color: #d5d5d5;
}

#deleteProfileDialog {
  height: 30vh;
}

/* FRIENDS LIST */
.friendsWrapper {
  border-width: 1px;
  border-radius: 2px;
  padding-left: 1px;
}

.friendsList {
  background-color: #f8ffdf;
  border-left: 1px solid #2e7d32;
  border-right: 1px solid #2e7d32;
  transition: background-color 100ms ease-in-out;
}

.friendsList:nth-child(even) {
  background-color: #ecf4d2;
}

.friendsList:hover {
  background-color: #c0c69e;
}

.friendsList:nth-child(even):hover {
  background-color: #b8bfa1;
}

.friendsList:first-child {
  padding-top: 10px;
  border-top: 1px solid #2e7d32;
}

.friendsList:last-child {
  padding-bottom: 15px;
  border-bottom: 1px solid #2e7d32;
}

.inlineFriendRemove {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.friendName {
  padding-top: 5px;
  margin-left: 10px;
  font-size: 1.8rem;
  display: flex;
}

.removeFriend {
  margin-top: 10px;
  font-size: 1.5rem;
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.friendsInfo {
  text-indent: 20px;
}

.noFriends {
  /* :only-child, used to get border on bottom */
  border-bottom: 1px solid #2e7d32;
  padding-bottom: 5px;
}

/*  FRIEND REQUESTS */
.friendReqWrap {
  background-color: #dbffd5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.friendReqWrap h3 {
  border-bottom: none;
  margin-bottom: 0;
}

#friendReqHeader h3 {
  border-top: none;
}

#friendReqHeader {
  border-bottom: none;
}

.selectorWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  height: 60px;
  margin-bottom: -2px;
}

.selector {
  font-size: 1.2rem;
  background-color: #aaffac;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: all 300ms ease-in-out;
  border: 2px solid transparent;
  border-bottom: none;
  cursor: pointer;
}

.selector:first-child {
  margin-left: 7px;
}

.selector:last-child {
  margin-right: 7px;
}

.selectorActive {
  font-size: 1.5rem;
  background-color: #157e17;
  color: #fcfffc;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-color: #022902;
  border-top-width: 2px;
  border-top-style: solid;
  border-left-color: #022902;
  border-left-width: 2px;
  border-left-style: solid;
  border-right-color: #022902;
  border-right-width: 2px;
  border-right-style: solid;
}

.selectorActive:first-child {
  padding-right: 20px;
}

.selectorActive:last-child {
  padding-left: 20px;
  padding-right: 20px;
}

.requestField {
  background-color: #fff9dd;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transition: background-color 50ms ease-in-out;
}

.requestField:hover {
  background-color: #ffe68a !important;
}

.requestArray[data-active-tab="received"]
  .gridOpen
  .requestField:nth-child(odd) {
  background-color: #fff3c4;
}

.requestArray[data-active-tab="received"]
  .gridOpen
  .requestField:nth-child(even) {
  background-color: #fff9dd;
}

.requestArray[data-active-tab="sent"] .gridOpen .requestField:nth-child(odd) {
  background-color: #fff9dd;
}

.requestArray[data-active-tab="sent"] .gridOpen .requestField:nth-child(even) {
  background-color: #fff3c4;
}

.requestArray {
  background-color: #fff9dd;
  border-color: #157e17;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

.gridTransition {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms ease-in-out;
}

.gridOpen {
  grid-template-rows: 1fr;
}

.gridOpen .requestField:first-child {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #022902;
}

.gridInner {
  min-height: 0;
}

.requestInfo {
  padding: 10px;
  display: flex;
}

.requestNickname {
  font-size: 1.5rem;
}

.reqBtn {
  background-color: transparent;
  border-width: 0;
  padding: 2px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* GAMES LINK */
#games {
  background-color: #dcefff;
}

#games:hover {
  background-color: #c8e7ff;
}

/* SEARCH FOR USERS */
.emptyList {
  font-size: 1.3rem;
}

.searchFieldPadding {
  padding-top: 10px;
}

.searchFieldPadding form {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.searchField {
  text-indent: 10px;
  flex-grow: 1;
  background-color: #f3fff3;
  height: 50px;
  border-style: solid;
  border-right-style: none;
  border-width: 1px;
  border-color: #2e7d32;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px;
  font-size: 1rem;
}

.searchFieldBtn {
  display: flex;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 4px;
  padding-left: 1px;
  background-color: #d4fffd;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
}

.searchFieldBtn:hover {
  background-color: #7ee4db;
}

.searchWrapper {
  background-color: #f1ffed;
  display: flex;
  padding: 2px;
  align-items: center;
}

.searchWrapper:nth-child(even) {
  background-color: #e4ffe5;
}

.searchDisplay {
  display: flex;
  flex-direction: row;
}

.searchWrapper:last-child {
  /*
      border-left-style: solid;
      border-right-style: solid;
      border-width: 2px;

       */
  border-bottom-right-radius: 50px;
  border-bottom-style: solid;
  border-color: black;
}

.addUsers {
  font-family: Bahnschrift, sans-serif;
  font-size: 1rem;
  border-width: 0;
  border-radius: 10%;
  background-color: #f3feff;
}

.addUsers:hover {
  font-weight: bold;
  background-color: #b6e0ec;
}

.addUsers:hover ~ .searchUsers {
  font-weight: bold;
}

.searchUsers {
  font-size: 1.8rem;
  margin-left: 5px;
}

/* NICKNAME */
.nicknameContainer {
  margin-top: 20px;
  width: auto;
  height: 80px;
  background-color: #c8e6c9;
  border-radius: 20px;
}

.editNickname form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nicknameField {
  display: flex;
  flex-grow: 1;
  margin-top: 20px;
  margin-left: 15px;
  height: 40px;
  border-radius: 5px;
}

#nicknameToggle {
  height: 70px;
  font-size: 1.2rem;
  background-color: #c8e6c9;
  cursor: pointer;
}

#nicknameToggle:hover {
  background-color: #aadcab;
}

.nicknameBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  height: 40px;
  width: 60px;
  border-width: 2px;
  border-radius: 5px;
}

.nicknameConfirmBtn {
  margin-left: 10px;
  background-color: #7ddd81;
}

.nicknameCancelBtn {
  margin-right: 15px;
  background-color: #e4e4e4;
}

.nicknameConfirmBtn:hover {
  background-color: #4bb14e;
}

.nicknameCancelBtn:hover {
  background-color: #b8b6b6;
}

#editTxt {
  font-size: 2rem;
  text-decoration: underline;
}

/* LOGOUT BUTTON */
.logoutBtn {
  font-family: Bahnschrift, sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  width: 40vw;
  height: 10vh;
  background-color: #f5fce8;
  color: #000000;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: #c8f2bb;
}

.logoutBtn:active {
  background-color: #6dd673 !important;
}

.logoutBtn:focus {
  background-color: #f5fce8;
}

.logoutBtn:focus:hover {
  background-color: #c8f2bb;
}

/* DELETE BUTTON */
.deleteProfileBtn {
  font-family: Bahnschrift, sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  width: 50vw;
  height: 10vh;
  background-color: #ca0e0e;
  color: #fffdf5;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
}

.deleteProfileBtn:hover {
  background-color: #ff0000;
}

.deleteProfileBtn:active {
  background-color: #b50f0f !important;
}

.deleteProfileBtn:focus {
  background-color: #b50f0f;
}

.deleteProfileBtn:focus:hover {
  background-color: #ff0000;
}

#deleteProfileDialog {
  padding-left: 20px;
  padding-right: 20px;
  height: 20vh;
}

.sadBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .welcome {
    font-size: 3rem;
  }

  .wrapper {
    padding-top: 20px;
    padding-left: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding-right: 50px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #d3e8d4;
  }

  .dialogContainer {
    padding: 10px;
    width: 30vw;
    height: 12vh;
  }

  .logoutBtn {
    width: 20vw;
  }

  .deleteProfileBtn {
    width: 30vw;
  }

  #deleteProfileDialog {
    padding-left: 50px;
    padding-right: 50px;
    width: 50vw;
    height: 15vh;
  }
}
