.intro {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.25rem;
}

.sourceCode {
  text-align: center;
  font-size: 1.5rem;
}

.container {
  padding: 16px;
  margin: 0 auto;
  font-family: Bahnschrift, sans-serif;
}

.section {
  margin-bottom: 12px;
  border-bottom: 1px solid #2e7d32;
}

.section summary {
  list-style: none;
  cursor: pointer;
}

.section p {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.25rem;
}

.container h1 {
  font-size: 3rem;
  font-weight: bolder;
}

.container h3 {
  font-size: 2rem;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .intro {
    text-align: justify;
    line-height: 1.5;
    font-size: 2rem;
  }

  .sourceCode {
    font-size: 2.5rem;
  }

  .section p {
    font-size: 2rem;
  }

  .container h1 {
    font-size: 5rem;
    text-align: center;
  }

  .container h3 {
    font-size: 3rem;
  }

  .image {
    max-width: 700px;
  }

  .paper {
    width: 400px;
  }
}

@media (min-width: 1000px) {
  .image {
    max-width: 900px;
  }

  .paper {
    width: 500px;
  }
}
